* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins";
    text-decoration: none;
}
body{
    background-color:#0c192c;
    overflow-x: scroll;
    overflow-y: scroll;
    overflow-x: hidden;   
    Overflow-y:hidden; 
}
.container{
    font-size:20px;
    background-color:#ffffff;
    width:90vw;
    max-width:34em;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    padding:3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111,85,0,0.25);
}
#options-container{
    text-align:center;
}
#options-container h3{
    color: #000000;
}
#options-container h2{
    color: #841717e3;
}
#options-container div {
    width:100%;
    display:flex;
    justify-content:space-between;
    margin: 1.2em 0 2.4em 0;
}
#options-container button{
    padding:0.6em 1.2em;
    border:5px solid #2b5088;
    background-color: #ffffff;
    color: #000000;
    border-radius:0.5em;
    text-transform:capitalize;
    font-size:16px;
    font-weight: bold;
}

#options-container button:disabled{
    border:5px solid  #2b5088;
    color: #000000ba;
    background-color: #d1cec7;
}
.letter-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:0.6em;
}
#letter-container button{
    height:2.0em;
    width:2.0em;
    border-radius:0.3em;
    border-color: #39d78d;
    background-color:#ffffff;
    font-weight: bold;
    font-size: 16px;
}
.new-game-popup{
    background-color:#ffffff;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 0.6em;
}
#user-input-section{
    display:flex;
    justify-content: center;
    font-size: 1.8em;
    margin:0.6em 0 1.2em 0;
}
#lives{
    text-align: center;
    color: #ff0808;
}
canvas{
    display:flex;
    margin: auto;
    border:5px solid #000000;
}
.hide{
    display:none;
}
#result-text h2 {
    font-size:1.8em;
    text-align:center ;
}
#result-text p {
    font-size:1.25em;
    margin:1em 0.2em 0;
}
#result-text span{
    font-weight:600;
}
#new-game-button{        
  height:70px;
  border-radius:  0.2em;
  font-weight: bold;
  background: #76746f;
  color: #fff;
  border:4px solid#2b5088;
  cursor: pointer;
  font-size:20px;
}
#new-game-button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #000000;
}

@media (max-width: 767px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}
@media (max-width: 480px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}
#new-game-button i{
    margin-left: 5px;
    margin-right: 15px;
    color: #F6FA70;
    size: 100px; 
}

#end{        
    height:70px;
    border-radius:  0.2em;
    font-weight: bold;
    background: #76746f;
    color: #fff;
    border:4px solid#2b5088;
    cursor: pointer;
    font-size:20px;
  }
  #end:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
    border: solid 1px #fff;
    color: #000000;
  }
  
  @media (max-width: 767px) {
    #alphabet {
      padding: 0 0 0 15px;
    }
  }
  @media (max-width: 480px) {
    #alphabet {
      padding: 0 0 0 25px;
    }
  }
#end i{
    margin-left: 5px;
    margin-right: 15px;
    color: #F6FA70;
    size: 100px; 
}
#new-game-container{
    text-align: center;
}
button {
    display: inline-block;
}
.win-msg{
    color:#39d78d;
}
.lose-msg{
    color:#fe5152;
}

.btn{ 
    display:flex;
    justify-content:center;
}
.btn button{
    font-size:15px;  
    font-weight: bold;  
    flex-basis: 10%;
    position:absolute;   
    top:90%;
    left:40%;    
    padding:1em;
    border-radius: 0.6em; 
    background:#000000;
    color: #ffffff;   
    cursor: pointer;    
    border-color: #dfdfe1;    
}
.end{   
    display:flex;
    justify-content:center;
}
.end button{
   font-size:15px;  
    font-weight: bold;  
    flex-basis: 10%;
    position:absolute;   
    top:90%;
    left:60%;    
    padding:1em;
    border-radius: 0.6em; 
    background:#000000;
    color: #ffffff;   
    cursor: pointer;       
    border-color:#dfdfe1;

}
button:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}
/* #particles-js{
    height:100%;
    background:#060613;
} */

/* Hint */
#hint{   
    position: fixed;
    top: 140px;
    left:560px;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    cursor: pointer;    
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
#hint img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}
#clue{
    font-size:15px;
    font-weight: bold;
    position: fixed;
    top:33%;
    left:60%;    
  }

/*timer*/
.timer {
    position: fixed;
    top: 20px;
    right: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #bb0606;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}
/*score*/
.score{
    position:fixed;
    top: 130px;
    right:550px;
    color:#511574;
    font-weight: bold;
    font-size: larger;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.score1 {
    position: fixed;
    top: 120px;
    right: 500px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #511574;
}
/*level box*/
.level-box {
    position: absolute;
    top: 95px;
    left: 20%;
    transform: translateX(-80%);    
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
