
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Poppins";
    text-decoration: none;
}
body{
    background-color:#0c192c;
}
.container{
    font-size:20px;
    background-color:#ffffff;
    width:90vw;
    max-width:34em;
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
    padding:3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111,85,0,0.25);
}
#options-container{
    text-align:center;
}
#options-container h3{
    color: #000000;
}
#options-container h1{
    font-weight: bolder;
    color: #b41111;
}
#options-container div {
    width:100%;
    display:flex;
    justify-content:space-between;
    margin: 1.2em 0 2.4em 0;
}
#options-container button{
    padding:0.6em 1.2em;
    border:3px solid #741515;
    background-color: #ffffff;
    color: #000000;
    border-radius:0.3em;
    text-transform:capitalize;
    font-size:16px;
}

#options-container button:disabled{
    border:3px solid  #741515;
    color: #000000;
    background-color: #f4c531;
}
.letter-container{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:0.6em;
}
#letter-container button{
    height:2.4em;
    width:2.4em;
    border-radius:0.3em;
    border-color: #39d78d;
    background-color:#ffffff;
    font-weight: bold;
}
.new-game-popup{
    background-color:#ffffff;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    border-radius: 0.6em;
}
#user-input-section{
    display:flex;
    justify-content: center;
    font-size: 1.8em;
    margin:0.6em 0 1.2em 0;
}
canvas{
    display:flex;
    margin: auto;
    border:5px solid #000000;
}
.hide{
    display:none;
}
#result-text h2 {
    font-size:1.8em;
    text-align:center ;
}
#result-text p {
    font-size:1.25em;
    margin:1em 0.2em 0;
}
#result-text span{
    font-weight:600;
}
#new-game-button{
    font-size:1.25em;
    padding:0.5em 0.5em;
    background-color: #f4c531;
    border:3px solid#741515;
    color: #000000;
    border-radius: 0.2em;
}
.win-msg{
    color:#39d78d;
}
.lose-msg{
    color:#fe5152;
}
.btn{
   
    display:flex;
    justify-content:center;
}
.btn button{
    font-size:15px;  
    font-weight: bold;  
    flex-basis: 10%;
    position:absolute;   
    top:86%;
    left:40%;    
    padding:1em;
    border-radius: 0.6em; 
    background:#000000;
    color: #ffffff;   
    cursor: pointer;    
    border-color: #dfdfe1;    
}
.end{
    font-size:15px;  
     font-weight: bold;  
     flex-basis: 10%;
     position:absolute;   
     top:86%;
     left:60%;    
     padding:1em;
     border-radius: 0.6em; 
     background:#000000;
     color: #ffffff;   
     cursor: pointer;  
     border-color:#dfdfe1;
 }
 button:hover{
     box-shadow: 0 0 5px cyan,
     0 0 25px cyan, 0 0 50px cyan,
     0 0 100px cyan, 0 0 200px cyan;
 }