/*index.html*/
.bg{
    width:80%;
    height: 100vh;
    background-image:url(img.png);
    background-position:center;
    background-size:cover;
    position:relative;
}

.login-box{
    width: 80%;
    max-width: 250px;
    height: 300px;
    position:absolute;
    top:65%;
    left:40%;
    transform: translate(-50%,-50%);
    background: #ffffff;
    padding: 50px 60px 70px ;
    text-align:center ;
    text-underline-position: above;
}

.login-box  h1{
    font-size: 70px;
    color: rgba(137, 6, 139, 0.991);
}

.input-field{
    background: #dfdfe1;
    margin:10px 10px;
    border-radius: 15px ;
    display:flex;
    align-items:center;

}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline:0;
    padding: 18px ;
}

.input-field i{
    margin-left: 15px;
    color: rgb(89, 4, 104);

}

.btn{
    width:100%;
    display:flex;
    justify-content:center;
}

.btn button{
    flex-basis: 90%;
    background:#160e28;
    color: #ffffff;
    height:40px;
    border-radius: 20px;
    cursor: pointer;   
    font-size: 100%; 
}

.input-group{
    height:80px;
}

.right{
    float:right;
    width:150px; 
}

/*Start.html*/
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;   
}

.bt1{
    width:100%;
    display:flex;
    justify-content:center;
}
.bt1 button{
    flex-basis: 60%;
    background:#fffdff;
    color: #080707;
    height:40px;
    border-radius: 20px;
    cursor: pointer;   
    font-size: 100%; 
}

.bt2{
    width:100%;
    display:flex;
    justify-content:center;
}
.bt2 button{
    flex-basis: 60%;
    background:rgb(255, 253, 255);
    color: #080707;
    height:40px;
    border-radius: 20px;
    cursor: pointer;   
    font-size: 100%; 
}

#particles-js{
    height:100%;
    background:#160e28;
}

.wrapper{
    top:45%;
    left:35%;
    position:absolute;
    width: 350px;
    height: 135px;
    background: transparent;   
    border: 2px solid #f5f3f480;
    border-radius:20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px #ae5d9a;
       
}   

/*Choose Category.html*/
body{
    margin:0;
    padding:0;
    height:100vh;
    display:flex;   
}

p{
    font-size: large;
    color: #fffdff;    
}
